html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.comment_section_wrapper {
  width: 40%;
  padding: 20px;
  border: 2px solid black;
}

.comment_list {
  margin: 0 auto;
  padding: 0;
}

.comment_list li {
  list-style-type: none;
  margin: 15px 0;
}

.comment_count {
  height: 30px;
  border-bottom: 1px solid #ddd;
}

.avatar {
  float: left;
}

.comment_content_wrapper {
  margin-left: 55px;
}

.comment_user_info p {
  margin: 10px 0;
}

.comment_date {
  color: #999;
  font-size: 12px;
}

.form_wrapper {
  text-align: center;
}
